body {
  overflow-x: hidden;
}

.hero-video-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* VIDEO */
.hero-video-section video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* OVERLAYS */
/* .hero-video-section .sw-overlay,
.hero-video-section .gradient-edge-bottom {
  position: absolute;
  inset: 0;
  z-index: 1;
} */

/* CONTENT */
.hero-video-section .container {
  position: relative;
  z-index: 2;
}
